
.icon-wizard-icon_dahboard_path:before { content: '\e800'; } /* '' */
.icon-wizard-icon_entity_path:before { content: '\e801'; } /* '' */
.icon-participatorytools_fix-mystreet_path:before { content: '\e802'; } /* '' */
.icon-participatorytools_participatory-budgeting_path:before { content: '\e803'; } /* '' */
.icon-participatorytools_vote-event_path:before { content: '\e804'; } /* '' */
.icon-wizard_participation_path:before { content: '\e807'; } /* '' */
.icon-wizard_projects_path:before { content: '\e808'; } /* '' */
.icon-wizard_proposals_path:before { content: '\e809'; } /* '' */
.icon-wizard-icon_participation_path:before { content: '\e80b'; } /* '' */
.icon-participatorytools_debate_path_2:before { content: '\e80c'; } /* '' */
.icon-wizard_ideas_path_2:before { content: '\e80d'; } /* '' */
.icon-wizard_empaville_path_1:before { content: '\e80e'; } /* '' */