/* vertical spacing*/
.top-buffer {
    margin-top: 40px;
}

.register-button-div button {
    background-color: transparent;
    color: #82bc41;
    border: solid 2px #82bc41;
    padding: 5px 15px;
    font-size: 1.1em;
}

.register-button-div button:hover {
    background-color: #82bc41;
    color: #ffffff;
    border: solid 2px #ffffff;
    padding: 5px 15px;
}

.userProfileActions-button-div{
    display: inline-block;
}

.userProfileActions-button-div button{
    background-color: transparent;
    color: #82bc41;
    border: solid 2px #727272;
    padding: 5px 15px;
    font-size: 1.1em;
    border-radius: 0;
}

.userProfileActions-button-div button:hover{
    background-color: #82bc41;
    color: #ffffff;
    border: solid 2px #727272;
}


.user-picture-box {
    margin-top: 30px;
}

.terms-conditions-wrapper{
    height: 200px;
    overflow-y: scroll;
}

.terms-conditions-footer{
    padding: 10px;
    padding-bottom: 0;
}

.oneFormSubmit{
    margin-top: 30px;
}

/*-------------- New ----------*/
.contentPage-heading-wrapper,
.registerContent .page-title{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    margin-top: 60px;
}

.registerContent .register-box .user-img{
    max-width:140px;
    min-height:140px;
    width: auto;
}

.registerContent .register-box .user-img>.fa.fa-user{
    font-size: 100px;
    line-height: 125px;
    vertical-align: middle;
}

.registerContent .register-button-div{
    margin-top: 20px;
}

.modal-title{
    font-family: "Open Sans", Sans-Serif;
    font-size: 2em;
    margin-top: 25px;
    color: #8DC641;
}

.terms-conditions-wrapper h1{
    text-transform: uppercase;
}

.registerFinalMessage{
    margin-top: 10px;
}

.registerUser-content{
    margin-top: 40px;
}

.progress-bar{
    background-color: #8DC641;
}