
/* ----------------------- cbs ------------------------*/

.pads-container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.create-button-div{
    padding-top: 5px;
    text-transform: none;

}

.create-button-div a{
    font-size: 1.3em;
    background-color: transparent;
    border: solid 2px #80BA41;
    padding: 5px 20px;
    color: #80BA41;
}

.create-button-div  a:hover,
.create-button-div  a:active{
    background-color: #80BA41;
    color: #ffffff;
    border-color: #80BA41;
}


.pads-title{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #80BA41;
    text-transform: uppercase;
    font-weight: bold;
}


.green-text{
    color: #80BA41;
}

.gray-text{
    color: #919191;
}

.pads-box{
    border: 2px solid #D1D1D1;
    border-radius: 5px;
    padding: 10px;
    margin:3px;
}
.cbs-box-horizontal{
    border: 2px solid #D1D1D1;
    padding:0 10px 10px;
}
.cbs-box{
    padding: 10px;

}

.pads-box a{
    color: #515151;
}

.pads-box p{
    color: #6D6D6D;
}

.cbs-boxes-padding{
    padding-bottom: 5px;
    padding-top: 5px;
}

.cbs-boxes{
    padding-bottom: 50px;
    padding-top: 5px;
}

.cbs-box-border{
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.25);
    display: inline-block;
    border: solid 3px #ffffff;
    width: 100%;
}

.cbs-box-border:hover{
    -webkit-box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.30);
    display: inline-block;
    border: solid 3px #8dc641;
}

.cbs-box-link{
    /*display: inline-block;*/
    /*width: 100%;*/
    /*height:100%;*/
}

.cb-title{
    height: 50px;
}

.cb-content{
    height: 100px;
}

.topic-title{
    height: 50px;
}

.topic-content{
    height: 100px;
}

.topic-parameters{
    font-family: "Kelson Sans Regular", Sans-Serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #585858;
}

.topic-parameters .fa{
    font-size: 18px;
}

.topic-title{
    height: 50px;
}
.topic-title a{
    color: #80BA41;
    font-family: "Kelson Sans Regular", Sans-Serif;
    font-weight: 500;
    font-size: 1.1em;
}

.topic-title a:hover{
    color: #80BA41;
    font-family: "Kelson Sans Regular", Sans-Serif;
    font-weight: 500;
}

.topic-title-list{
    height: 50px;
    color: #80BA41;
}

.topic-content{
    height: 100px;
    margin-bottom: 20px;
}

.topic-content-list{
    margin-top: 10px;
}

.topics-ideaDetailsVoting .fa{
    font-size: 18px;
}


.parameter-user-comments{
    margin-top: 5px;
    color: grey;
}

#topicHorizontal .news-inner-img-div{
    height:200px;
}


.alertBoxGreen{
    background-color: #80BA41;
    color:#ffffff;
    border-radius: 10px;
    display:inline-block;
    width: 100%;
    vertical-align: middle;
}

.alertBoxGreen h2{
    font-size: 1.5em;
    line-height: 50px;
    vertical-align: middle;
    margin: 0;
}

.alertBoxGreen p{
    color:#ffffff;
    font-size: 1.5em;
}

.alertBoxGreen .fa{
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    font-size: 1.5em;
}

.padding-box-default{
    padding-bottom: 20px;
}

.parameters-div{
    margin-top: 5px;
    margin-bottom: 10px;
    display:inline-block;
}

.filter-label{
    margin-top: 80px;
    margin-bottom: 10px;
    color: #959595;
    font-size: large;
}

.order-label{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #959595;
    font-size: large;
}

.btn-filter{
    background-color: white;
    border-radius: 0;
    border: 1px solid #959595;
    color: #959595;
    font-size: small;
    margin-right: 15px;
    padding: 5px 10px 5px 10px;
    min-width: 170px;
    text-align: left;
}

.angle-down-filter{
    text-align: right;
    font-weight: bold;
    float: right;
}

.layout-icons > i, .layout-icons > a > i, .layout-icons > div > i, .layout-icons > div > a > i{
    border-radius: 5px;
    border: 1px solid #82B742;
    color: #82B742;
    float: right;
    margin-left: 5px;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.layout-icons{
    margin-top: 80px;
}

.location{
    border-radius: 5px;
    border: 1px solid grey;
    color: grey;
    float: right;
    margin-left: 10px;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.search-group{
    margin-top: 20px;
    width: 200px;
    float: right;
}

.search-button, .search-button:hover, .search-button:active, .search-button:focus{
    background-color: #FAFAFA;
    color: grey;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 14px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid grey;
    border-left: none;
}

.btn-create-group{
    margin-top: 20px;
}

.search-box{
    border-right: 0;
    background-color: #FAFAFA;
    border-color: gray;
    box-shadow: none;
}

.margin-top{
    margin-top: 50px;
}

.parameter-object{
    margin-top: 5px;
}

.parameter-object > i, .parameter-object > span{
    margin-right: 10px;
}

.vote-object{
    padding: 15px 30px 0 0;
}


.ideas-box{
    padding: 20px;
}

.ideas-box-text > a > i{
    margin-right: 10px;
}

.ideas-box-text > a{
    color: white;
    margin-bottom: 0;
}

.ideas-box-text{
    display:flex;
    justify-content:center;
    align-items:center;
}

.alertBoxGreenNews.ideas-box-text{
    display: block;
}

.alertBoxGreenNews.ideas-box-text > a{
    color: white;
    margin-bottom: 0;
    vertical-align: middle;
}

.ideas-list-box{
    border: 1px solid grey;
    margin-bottom: 20px;
    overflow: hidden;
}

.parameter-object-list{
    float: left;
    margin-right: 10px;
    margin-left: 15px;
    color: grey;
}

.ideas-cover-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.responsive-proposal{
    float: left;
}

.topics-ideaDetail{
    margin-top: 5px;
    color:#585858;
}

/*--------------    Ideas List / Individual  -----------------*/
.idea-parameters,
.idea-topic-parameters-local{
    margin-bottom: 10px;
    font-family: "Open Sans", Sans-serif;
    font-size: 13px;
    color: #585858;
}

.idea-parameters .fa{
    font-size: 20px;
}

.idea-topic-parameters{
    font-family: "Kelson Sans", Sans-Serif;
    margin-bottom: 20px;
    color: #585858;
    /*padding-left: 0;*/
}

.idea-topic-parameters .fa{
    font-size: 20px;
}

.idea-topic-title{
    margin-bottom: 20px;
}

.idea-topic-parameter{
    margin-top: 10px;
    font-family: "Kelson Sans Regular", Sans-Serif;
    margin-left: -15px;
}

.idea-topic-parameter > .fa{
    margin-right: 10px;
}

.idea-topic-parameter .idea-parameter-label{
    font-weight: bold;
    display: inline-block;
}

.idea-topic-parameter .idea-parameter-text{
    display: inline-block;
}

.idea-thumb{
    padding: 5px;
}

.idea-summary{
    font-weight: bold;
    margin: 20px 0;

}

.idea-files > i, .idea-files > a{
    color: grey;
    margin: 5px 0;
}

.idea-topic-top-parameter{
    margin-left: 0;
    margin-top: -5px;
    margin-bottom: 5px;
}

.idea-topic-top-parameter > .fa {
    margin-right: 5px;
}

.idea-share-btn{
    padding: 5px 0;
    margin-left: 0 !important;
}

.idea-images-container{
    margin-left: -20px;
}

.idea-files-container{
    margin-left: -15px;
}

.idea-cbs-box-border {
    -webkit-box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.25);
    display: inline-block;
    border: solid 3px lightgrey;
    width: 100%;
}

.idea-cbs-box-border:hover{
    -webkit-box-shadow: 0 0 14px 5px rgba(0,0,0,0.30);
    -moz-box-shadow: 0 0 14px 5px rgba(0,0,0,0.30);
    box-shadow: 0 0 14px 5px rgba(0,0,0,0.30);
    display: inline-block;
    border: solid 3px #8dc641;
}

.idea-vote-name{
    font-family: "Kelson Sans", Sans-Serif;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    background-color: #8DC641;
    color: white;
}

.idea-vote-type{
    text-align: left;
    min-height: 130px;
}

.idea-vote-type > .multipleVote-wrapper{
    text-align: left;
}

.idea-vote-box{
    background-color: #F4F4F4;
    margin: 5px;
    max-width: 330px;
}

.idea-vote-name-title{
    font-family: "Kelson Sans", Sans-Serif;
}

.idea-vote-total{
    font-family: "Kelson Sans", Sans-Serif;
    font-size: large;
    color: #8DC641;
}

.idea-vote-hr{
    border: 1px solid #8DC641;
    margin-top: 10px;
    margin-bottom: 10px;
}

.idea-vote-positive{
    font-family: "Kelson Sans", Sans-Serif;
    color: #8DC641;
}

.idea-vote-negative{
    font-family: "Kelson Sans", Sans-Serif;
    color: #8DC641;
}

.idea-vote-counter{
    font-family: "Kelson Sans", Sans-Serif;
    font-weight: bold;
    margin-top: 0;
}

.idea-topic-voting{
    margin-top: 20px;
}

.idea-remaining-votes{
    margin-bottom: 10px;
}

/*--------------    END Ideas List / Individual    -----------------*/


/*--------------    Proposals List / Individual  -----------------*/

.proposal-topic-parameters-local{
    margin-bottom: 10px;
}

.proposal-topic-parameters{
    font-family: "Kelson Sans", Sans-Serif;
    margin-bottom: 20px;
    color: #585858;
    /*padding-left: 0;*/
}

.proposal-topic-title{
    margin-bottom: 20px;
}

.proposal-topic-parameter{
    margin-top: 10px;
    font-family: "Kelson Sans Regular", Sans-Serif;
    margin-left: -15px;
}

.proposal-topic-parameter > .fa{
    margin-right: 10px;
}

.proposal-parameter-label{
    display: inline-block;
}

.proposal-parameter-text{
    display: inline-block;
    font-weight: bold;
}

.proposal-thumb{
    padding: 5px;
}

.proposal-summary{
    font-weight: bold;
    margin: 20px 0;

}

.proposal-files > i, .proposal-files > a{
    color: grey;
    margin: 5px 0;
}

.proposal-topic-top-parameter{
    margin-left: 0;
    margin-top: -5px;
    margin-bottom: 5px;
    font-family: "Kelson Sans Regular", Sans-Serif;
}

.proposal-topic-top-parameter > .fa {
    margin-right: 5px;
    font-size: 1.3em;
    margin-top: 10px;
}

.proposal-share-btn{
    padding: 5px 0;
    margin-left: 0 !important;
}

.proposal-images-container{
    margin-left: -20px;
}

.proposal-files-container{
    margin-left: -15px;
}


.proposal-cbs-box-border {
    -webkit-box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.25);
    display: inline-block;
    border: solid 3px lightgrey;
    width: 100%;
}

.proposal-cbs-box-border:hover{
    -webkit-box-shadow: 0 0 14px 5px rgba(0,0,0,0.30);
    -moz-box-shadow: 0 0 14px 5px rgba(0,0,0,0.30);
    box-shadow: 0 0 14px 5px rgba(0,0,0,0.30);
    display: inline-block;
    border: solid 3px #8dc641;
}

/*--------------    END Proposals List / Individual    -----------------*/


/*------------------------ Create Idea Form --------------------------*/


.createIdea-container label{
    font-family: "Open Sans", Sans-Serif;
    font-weight: 500;
}


.createIdea-container .parameter{
    margin-top: 30px;
}

.createIdea-container .title{
    margin-top: 65px;
}

.createIdea-container .sub-title h2{
    margin-top: 10px;
    font-size: 1.4em;
    font-weight: 700;
}


.cb-topics-login-box {
    background-color: #8dc641;
    color: #ffffff;
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    padding: 10px 10px;
    border:solid 2px #8dc641;
    line-height: 20px;
}

.idea-cbs-box-border .cb-topics-login-box{
    margin: 15px 0 0;
}

.cb-topics-login-box:hover{
    background-color: #ffffff;
    border:solid 2px #8dc641;
    color: #8dc641;
}

.cb-topics-login-box a{
    line-height: 1.3em;
    vertical-align: middle;
    text-align: center;
    display: block;
    color: #ffffff;
}

.grey-btn{
    color:#858585;
    background-color: #fff;
    border:solid 2px #858585;
}

.grey-btn:hover{
    color:#fff;
    background-color: #858585;
    border:solid 2px #858585;
}


/* ----------------------- END cbs ------------------------*/

.mapContainer{
    margin-top: 20px;
    margin-bottom: 45px;
    overflow: hidden;
}

.mapContainer>.container{
    padding:0;
    overflow: hidden;
}

/*--------------    Maps Dialog Message  -----------------*/
ul.map-dialog-ul{
    padding-left: 5px;
    margin-top: 10px;
}

.map-dialog-title {
    font-size: 14px;
    color: #8DC640;
}

.map-dialog-container{

    max-width: 220px;
}

.map-dialog-container a{
    _float: right;
    float: left;
    margin-top: 5px;
    font-size: small;
}

.map-dialog-title{
    max-height: 50px;
}


/*--------------    //Maps Dialog Message   -----------------*/

/* CB Map Back Button Div*/
.map-back-btn-div{
    margin-top: 30px;
}

@media (max-width: 768px){
    /* Google Map label group Div*/
    .g-map-label-group{
        margin-top: 20px;
    }

}

@media screen and (max-width: 270px){
    .columnXS12 {
        width: 100%;
    }
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
@media (min-width: 1200px) {
    .row-eq-lg-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}

@media (max-width: 992px) {
    .row-eq-lg-height {
        display: block;
    }
}