/* Home page */
.carouselContainer{
    padding:20px 0;
    background-color: #ffffff;
}

.carouselItem{
    background-color: #ffffff;
    width:100%;
}

.carouselItem>img{
    display: block;
    width:auto;
    height:200px;
    margin: auto;
}

.content-container{
    padding:0;
}


.empavilleDescription-container{
    background-color: white;
    padding: 10px;
    margin-top: 50px;
}

.empavilleDescription{
    font-size:1.2em;
}

.newsEvents-container{
    margin-top: 30px;
}

.nextEvents-headerTitle>h1,
.lastNews-headerTitle>h1{
    color: #8dc73d;
    font-size: 22px;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 15px;
    text-transform: uppercase;
}

.nextEvents-container{
    background-color: #ffffff;
}

.lastNews-container{
    background-color: #ffffff;
}

.lastNews-wrapper{
    min-height: 270px;
}

.nextEvents-title,
.lastNews-title{
    max-height: 100px;
    padding-top:2px;
    margin-top: 10px;
    border-top: #dcdcdc solid 1px;
}

.nextEvents-time,
.lastNews-time{
    margin-top: 10px;
    font-size: 0.9em;
}

.nextEvents-summary,
.lastNews-summary{
    max-height:150px;
    margin-top: 20px;
}





/* Other pages */

.idea-desc{
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
    /*height: 40px;*/
    /*text-overflow: ellipsis;*/
    /*word-wrap: break-word;*/
    /*overflow: hidden;*/

    height:6em;
    max-height:6em;

    font-size: 0.9em;
}

.idea-location{
    height:3em;
    max-height:3em;
    margin:0;
    padding:0;
    padding-left:15px;
    margin-top:0.3em;
}

.forumTitle>a,
.forumTitle{
    width: 100%;
    color: #8dc640;
    font-size: 1.2em;
    height:60px;

    font-size: 16px;
    font-weight: bold;
}