/* vertical spacing*/
.top-buffer {
    margin-top: 20px;
}

.register-button-div button {
    background-color: transparent;
    color: #66a2d8;
    border: solid 2px #66a2d8;
    padding: 5px 15px;
}

.user-picture-box {
    margin-top: 30px;
}

.terms-conditions-wrapper{
    height: 200px;
    overflow-y: scroll;
}

.terms-conditions-footer{
    padding: 10px;
    padding-bottom: 0;
}