/* ------------ Create Idea -----------*/
.forms-title,
.forms-title h3{
    color: #66a2d8;
    text-transform: uppercase;
    font-weight: 700;
}

.forms-subTitle,
.forms-subTitle h4{
    color: #66a2d8;
    font-size: 20px;
    margin-top: 0;
}

.row.form{
    margin-top: 50px;
}

.form-group{
    margin-top: 15px;
}

#files{
    border: dashed 2px #b3b3b3;
}

