header{
    background-color: #3c8dbc;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(200,200,200,0.7);
    -moz-box-shadow: 0px 3px 5px 0px rgba(200,200,200,0.7);
    box-shadow: 0px 3px 5px 0px rgba(200,200,200,0.7);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Arial;
}

body {
    font-family: Arial;
    font-weight: 500;
}

.main-sidebar{
    -webkit-box-shadow: 3px 0px 5px 0px rgba(200,200,200,0.7);
    -moz-box-shadow: 3px 0px 5px 0px rgba(200,200,200,0.7);
    box-shadow: 3px 0px 5px 0px rgba(200,200,200,0.7);
}



.skin-blue-light .main-header .navbar {
    background-color: transparent;
}

.skin-blue-light .main-header .logo {
    background-color: transparent;
    border-bottom: 0 solid transparent;
}
.skin-blue-light .main-header .logo:hover {
    background-color: transparent;
}

.skin-blue-light .wrapper, .skin-blue-light .main-sidebar, .skin-blue-light .left-side {
    background-color: #ffffff;
}

.content-wrapper, .right-side {
    background-color: #ffffff;
}

a {
    color: #3c8dbc;
}

a:hover, a:focus{
    color: #3374aa;
}

.content-header > .breadcrumb {
    background: #f1f1f1;
}

.skin-blue-light .sidebar a {
    color: #66a7dd;
}

/* Box Private */
.box-private{
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(200,200,200,0.7);
    -moz-box-shadow: 3px 3px 5px 0px rgba(200,200,200,0.7);
    box-shadow: 3px 3px 5px 0px rgba(200,200,200,0.7);
}

.box-title{
    color: #66a7dd;
    font-weight: bold;
}

/* table */
table{
    border-collapse:separate;
    border-spacing:4px 0px;
}

.table > tbody > tr > td {
    border-top: 1px solid #66a7dd;
}

.table > thead > tr > th {
    border-bottom: 1px solid #66a7dd;
    color: #66a7dd;
}

.dataTables_info{
    color: #a9a9a9;
}

.dataTables_length{
    color: #a9a9a9;
}

.dataTables_length select{
    color: #a9a9a9;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #66a7dd;
    border-color: #66a7dd;
    color: #fff;
    cursor: default;
    z-index: 2;
}

/* Menu */
.skin-blue-light .sidebar-menu > li > .treeview-menu {
    background: #ffffff none repeat scroll 0 0;
}

.skin-blue-light .sidebar-menu > li:hover > a, .skin-blue-light .sidebar-menu > li.active > a {
    color: #66a7dd;
}

.skin-blue-light .treeview-menu > li > a {
    color: #66a7dd;
}

.pSideMenuIcon{
    width: 22px;
}

.back2AdminMenu{
    text-align: center;
    padding: 2px 15px 0px 5px;
    cursor: pointer;
    width: auto;
}

.back2AdminMenuSidebar{
    text-align: left;
    padding: 2px 15px 0px 5px;
    cursor: pointer;
    width: auto;
}

.entitySelectMenuLabel{
    color: #ffffff;
    background-color: transparent;
    padding: 8px;
    margin-left: 20px;
    margin-bottom: 0px;
    width: auto;
}

.entitySelectMenuLabelSidebar{
    color: #000000;
    background-color: #f1f1f1;
    text-align: left;
    padding: 8px;
    margin-bottom: 0px;
    width: auto;
}


.adv-search{
    margin-top: 20px;
    margin-bottom: 30px;
}

.inputCheckBoxSelect2{
    margin-right: 5px;
}

.oneform-help-block{
    font-weight:normal;
    font-size:10px;
    margin:-2px 0px 5px;
    color:#737373;
    display:block;
}

.oneform-help-block-show{
    font-weight:normal;
    font-size:10px;
    margin:1px 0px 5px;
    color:#737373;
    display:block;
}


.message{
    min-height: 50px;
    border: 1px solid #ccc;
    padding: 15px 10px;
    color: #aaaaaa;
    font-size: 16px;
}

.delete-message{
    right: 20px;
    position: absolute;
    top: 0px;
    z-index: 1;
    cursor: pointer;
}

.messages-overflow{
    height: 430px;
    overflow-y: scroll;
    margin-top: 25px;
    margin-bottom: 45px;
}

.new-message{
    margin-bottom: 10px;
    border-radius: 0;
    border: 1px solid #ccc;
}

.margin-top-bottom-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.message-date{
    color: #fff;
    padding: 0 10px;
    font-weight: 600;
}
.bg-secundary{
    background: #00a65a;
}