.oneVoteInfo{
    padding: 15px;
    margin: 20px 0px;
    background-color: #9cc34e;
    color: black;
    border: 2px solid #efefef;
    border-radius: 6px;
}

.oneVoteInfoClose{
    color:#8ac342;
    opacity: 0.9;
}

.positiveVoteBtnDivStyle{

}


.negativeVoteBtnDivStyle,
.negativeVoteNumberDivStyle,
.positiveVoteBtnDivStyle,
.positiveVoteNumberDivStyle,
.likeDislikeNumberDivStyle,
.likeDislikeBtnDivStyle,
.multipleVotingNoWrapper{

    line-height: normal;
    vertical-align: top;
    display: inline-block;
    /* ie6/7 */
    *display: inline;
    zoom: 1;
    float:none;
}

.negativeVoteBtnStyle,
.positiveVoteBtnStyle,
.likeDislikeBtnDivStyle,
.likeDislikeNumberDivStyle,
.positiveVoteNumberDivStyle,
.negativeVoteNumberDivStyle,
.multipleVotesBtnDivStyle,
.userMultipleVotingNo,
.totalMultipleVotingNo{

    padding:0;
    min-height: 45px;
}

.negativeVoteBtnStyle img,
.positiveVoteBtnStyle img,
.likeDislikeBtnDivStyle img,
.multipleVotesBtnDivStyle img{
    width:auto;
    min-width:40px;
}


.oneLikesColStyle,
.oneNegativeVotingColStyle,
.oneMultipleVotingRowStyle,
.multipleVotesBtnDivStyle{
    min-height:45px;
    max-height: 70px;
    float: left;
}

@media screen and (max-width: 600px) {
    .oneNegativeVotingColStyle,
    .oneLikesColStyle,
    .multipleVotesBtn-container{
        width: 80%;
    }

    .totalMultipleVotingNo-container{
        width:65%;
    }


    .positiveVoteBtnDivStyle,
    .negativeVoteBtnDivStyle,
    .likeDislikeBtnDivStyle{
        width:15%;
    }

    .multipleVotesBtnDivStyle{
        width:15%;
    }

    .totalMultipleVotingNo,
    .userMultipleVotingNo{
        width:25%;
    }
}

/* Google Maps */
.oneGoogleMap{
    height:300px;
    width:100%;
}
