
.top-buffer {
    margin-top: 40px;
}
.register-container{
    padding-bottom: 6em;
    padding-top: 6em;
}

.register-container .page-title{
    font-size: 3em;
    font-weight: bold;
}

.register-box .user-img {
    max-width: 140px;
    min-height: 140px;
    width: auto;
}
.user-img {
    border: 3px solid #333;
    border-radius: 50%;
    padding: 5px;
}
.register-box .user-img>.fa.fa-user {
    font-size: 100px;
    line-height: 125px;
    vertical-align: middle;
}

.register-button-div .registerSubmitBtn:hover {
    background-color: #82bc41;
    color: #ffffff;
    border: solid 2px #82bc41;
    padding: 5px 15px;
}
.register-button-div .registerSubmitBtn {
    background-color: transparent;
    color: #82bc41;
    border: solid 2px #82bc41;
    padding: 5px 15px;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

.register-button-div .cancel-btn:hover {
    background-color: #adadad;
    color: #ffffff;
    border: solid 2px #adadad;
    padding: 5px 15px;
}
.register-button-div .cancel-btn {
    background-color: transparent;
    color: #adadad;
    border: solid 2px #adadad;
    padding: 5px 15px;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}
.register-button-div {
    margin-top: 20px;
}
.acceptTermsConditions a{
    color: #000000;
    text-decoration: underline;
}
.acceptTermsConditions a:hover{
    color: #82bc41;
    text-decoration: underline;
}
.register-box .form-control:focus{
    border-color: #82bc41;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(130, 188, 65, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(130, 188, 65, 0.6);
}

.terms-conditions-wrapper {
    height: 50vh;
    overflow-y: auto;
}
.terms-conditions-wrapper a{
    color: #82bc41;
}
.modal-title {
    font-size: 2em;
    margin-top: 25px;
    color: #82bc41;
}
.my-custom-fa-close {
    color: #ccc;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 768px){
    .register-container{
        padding-top: 10em;
        padding-bottom: 10em;
    }

}