.form{
    max-width: 1280px;
    margin:auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}


.form-title{
    margin: 40px 0px;
    text-align: center;
}

.form-subtitle h2{
    /*margin-top:250px;*/
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.form-description{
    font-size: 1.5rem;
    padding: 30px 0;
}

.form-content{
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size:1.5rem;
    box-shadow: 0 0 1em #CCCCCC;
    padding:20px 15px;
    margin-bottom: 50px;
}

.form-content label{
    font-weight:normal;
}

.form-content>form>.row{
    padding:20px 0px;
    border-bottom-style: solid;
    border-bottom-color: #F2F2F2;
    border-bottom-width: 2px;
}

#percentagem{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color:#8cc53f;
    font-weight: bold;
    padding:0;
    margin:0;
    margin-top: 20px;
}

/* Buttons */ 
.buttons{
    border-top-style: solid;
    border-color: #8cc53f;
    border-width: 2px;
    margin-top: 20px;
    padding:25px 0;
}

.next-btn{
    float:right;
    text-align: right;
    padding: 15px 20px;
    background: linear-gradient(to right, #39b54a, #8cc63f);
    border-radius: 7px;
    color:white;
    box-shadow: none;
    border:none;
    font-weight: bold;
}


.back-btn{
    float:left;
    text-align: right;
    padding: 15px 20px;
    background: linear-gradient(to right,#8cc63f, #39b54a);
    border-radius: 7px;
    color:white;
    box-shadow: none;
    border:none;
    font-weight: bold;
}

.submit-btn{
    float:right;
    text-align: right;
    padding: 15px 20px;
    background: linear-gradient(to right, #8cc63f, #b7f20e);
    border-radius: 7px;
    color:white;
    box-shadow: none;
    border:none;
    font-weight: bold;
}

.float-left{
    float:left;
    margin-right: 20px;
}


.btn{
    background: none;
    color: #585858;
    font-size: 2.5rem;
    border:none;
    padding:0;
    padding:0 10px;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background: none;
    color:#8cc53f;
    border:none;
    box-shadow: none;
    z-index: 0;
}

.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover{
    z-index: 0;
}

.btn-primary.active:hover,
.btn-primary:active:hover,
.mybtn:hover{
    color: #fff;
    background-color: #8cc53f;
}

.btn-default {
    background-color: #f4f4f4;
    border-color: #ddd;
    color: #444;
}

/* radios */
.checkbox-div label,
.radios-div label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    margin-right: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size:1.5rem;
}

.radios-div input[type=radio],
.checkbox-div input[type=checkbox] {
    display: none;
}

.checkbox-div label:before,
.radios-div label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: rgb(250,250,250);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radios-div label:before {
    border-radius: 8px;
}

.radios-div label,
.checkbox-div label {
    margin-bottom: 10px;
}

.checkbox-div label:before {
    border-radius: 3px;
}

.checkbox-div input[type=radio]:checked + label:before,
.radios-div input[type=radio]:checked + label:before {
    content: "\2022";
    color: rgb(153,204,102);
    font-size: 40px;
    text-align: center;
    line-height: 14px;
}

.checkbox-div input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(1, 1, 1, .2);
    font-size: 25px;
    color: rgb(153,204,102);
    text-align: center;
    line-height: 15px;
}

.radios-has-error,
.checks-has-error{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding:10px 0px;
    border-color: #ac2925;
}

.wrapper-login,
.wrapper-register{
    width:995px;
    padding:40px 0px;
    margin:0px auto;
    text-align: center;
    background: white;
    position:relative;
}

.wrapper-login{
    width:250px;
    margin: auto auto;
    padding:0;
    position:absolute;
    left:-150px;
}

#login-btn>li>.dropdown-menu>li{
    margin:0;
    padding:0;
}

#login-btn>li>.dropdown-menu{
    border:none;
    box-shadow: none;
}

#wrapper
{
    display:none;
}


.wrapper-register .progress_bar,
#wrapper .progress_bar
{
    display:none;
}

.wrapper-register .baricon,
#wrapper .baricon{
    border-radius: 20px;
    /* for IE8 */
    width: 20px;
    height: 20px;
    padding:5px;
    font-size: 1.5rem;
}

.wrapper-register .baricon>p,
#wrapper .baricon>p{
    margin-top: 0;
}

.wrapper-login div,
.wrapper-register form div{
    margin-left:340px;
    padding:10px;
    box-sizing:border-box;
    width:300px;
    margin-top:50px;
    background-color:#F2F2F2;
    border-radius: 15px;
}

.wrapper-login div{
    margin: auto;
    width:100%;
    background:white;
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
}

.wrapper-login div p,
.wrapper-register form div p{
    font-family: 'Roboto', sans-serif;
    color:#585858;
    margin:0px;
    margin-top:25px;
    font-weight:bold;
}

.wrapper-login div .form_head,
.wrapper-register form div .form_head
{
    color:#585858;
    font-size:22px;
    font-weight:bold;
    margin-bottom:30px;
}

.wrapper-login div .form_head{
    color:#8cc53f;
}

.wrapper-login div input[type="text"],
.wrapper-register form div input[type="text"]
{
    width:200px;
    height:40px;
    padding:5px;
    border-radius:5px;
    border:none;
    margin-top:10px;
}

.wrapper-login div input[type="text"]{
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 2px solid #f2f2f2;
    width:100%;
    color:#585858;
    font-weight: 400;
}


.wrapper-login div input[type="button"],
.wrapper-register form div input[type="button"],input[type="submit"]
{
    height:40px;
    border-radius:5px;
    border:2px solid white;
    background:#8cc53f;
    color:white;
    margin:5px;
    margin-top:20px;
}

#user_details,#qualification,#form1,#form2{
    display:none;
}

@media screen and (min-width: 400px) {

    .wrapper-register .baricon,
    #wrapper .baricon{
        display:inline-block;
        border-radius: 50%;
        /* for IE8 */
        width: 50px;
        height: 50px;
        padding:12px;
        background-color:#8cc53f;
        color:white;
        text-align: center;
        font-size: 1.5rem;
    }

    .wrapper-register .baricon>p,
    #wrapper .baricon>p{
        margin-top: 2px;
    }

    .wrapper-register .progress_bar,
    #wrapper .progress_bar
    {
        width:5px;
        height:5px;
        border-radius:20px;
        background-color:#D8D8D8;
        display:inline-block;
    }

    #wrapper
    {
        display: inline-block;
        width:100%;
        padding:30px 0px;
        margin:70px auto;
        text-align: center;
        background: white;
        z-index: 1;
        position:fixed;
        left: 50%;
        margin-left: -50%;
    }
}

.place-backward{
    z-index: 0;
}

/* OneForm Layout */
.oneFormTitle{
    padding-top: 5px;
    display: inline-block;
    margin: 0;
    line-height: 1;
}

.oneFormBody{
    margin-top: 20px;
}

.oneFormSubmit a{
    height: 40px;    
    margin-top: 16px;
    padding-top: 8px;
}