.forum-container{
    background-color: #ffffff;
    padding: 10px 20px;
    margin: 60px auto;
    max-width: 1280px;
}

.forumTitle{
    font-family: "Roboto", Sans-Serif;
    color:#ffffff;
}

.forumTitle-trans>h3{
    margin-top: 3px;
    font-size: 1.5em;
    font-family: "Roboto", Sans-Serif;
}

.forumSummary{
    font-family: "Open Sans", Sans-Serif;
    font-size: 1.5em;
    margin-top: 20px;
}

.forumDescription{
    font-family: "Roboto", Sans-Serif;
    font-size: 1.2em;
    margin-top: 20px;
}

.createForumBtn{
    border: #8cc53f solid 2px;
    background: #ffffff;
    font-family: "Open Sans", Sans-Serif;
    display: inline-block;
    float:right;
    margin-top: 30px;
    margin-bottom: 50px;
}

.createForumBtn>a{
    padding: 10px 20px;
    font-size: 1.5em;
    color: #8cc53f;
}


.forumTopic-container{
    border: 2px solid transparent;
    border-top-color: #8cc53f;
    padding: 10px 30px;
    margin-bottom: 40px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.forumTopicTitle{
    margin:10px 0 20px  0px;
}

.forumTopicTitle>a{
    font-weight: 600;
    font-family: "Open Sans", Sans-Serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #8ac340;
    font-size: 0.7em;
}

.forumTopicSummary{
    font-family: "Open Sans", Sans-Serif;
    font-size: 1.2em;
}

.forumTopicDetails{
    margin: 30px 0;
    padding: 0;
}

.forumTopicDetail{
    margin:3px 0;
}

.forumTopicDetail>p{
    font-family: "Roboto", Sans-Serif;
    font-size: 1.2em;
    line-height: 1em;
    text-align: left;
    float: left;
}

.topicsItemParameters{
    font-family: "Open Sans", Sans-Serif;
    font-size: 1.2em;
}


.forumTopicsItemVoting{
    margin-top: 15px;
    padding-top:10px;
}

.detailsBold{
    font-weight: 700;
}

.forumTopicDetail>p>i{
    margin-right: 5px;
}

.detailsEditBtn{
     background-color:#8cc53f;
     display: inline-block;
     border-radius: 3px;
 }

.detailsEditBtn-inner{
    padding: 10px 20px;
    text-align: center;
}

.detailsEditBtn-inner>a{
    font-size: 1.2em;
    color: #ffffff;
    font-family: "Roboto", Sans-Serif;
}
.detailsEditBtn-inner>a>i{
    font-size: 1.5em;
    color: #ffffff;
}

.deleteBtn{
    background-color:#BF2A19;
    display: inline-block;
    border-radius: 3px;
}

.deleteBtn-inner{
    padding: 10px 20px;
    text-align: center;
}

.deleteBtn-inner>a,
.deleteBtn-inner>a>i{
    font-size: 1.5em;
    color: #ffffff;
}


.backBtn{
    border:#484848 solid 2px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 3px;
}

.backBtn-inner{
    padding: 10px 20px;
    text-align: center;
}

.backBtn-inner>a,
.backBtn-inner>a>i{
    font-size: 1.5em;
    color: #484848;
}

.forumTopicCommentsInfo{
    font-family: "Roboto", Sans-Serif;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.forumTopicParameters{
    margin: 30px 0;
    font-family: "Roboto", Sans-Serif;
    font-size: 1.2em;
}

.forumTopicShareLnk>a{
    margin: 30px 0;
    padding:0;
    font-family: "Roboto", Sans-Serif;
    font-size: 1.2em;
}

.forumTopicVotes{
    margin: 30px 0;
    padding:0;
}

.forumTopicComments{
    box-sizing: border-box;
    display: flex;
}

.forumTopicCommentsImg{
    flex:0;
}

.forumTopicComments img{
    display: block;
    max-width: 50px;
    height:auto;
    box-sizing: border-box;
}

.forumTopicCommentInput{
    flex: 1;
    box-sizing: border-box;
    margin-left: 10px;
}

.forumTopicCommentInput input{
    box-sizing: border-box;
    width:100%;
    display: block;
}

.forumTopicCommentSubmitBtn>button{
    font-family: "Roboto", Sans-Serif;
    font-size: 1.3em;
    background-color: #8cc53f;
    display: inline-block;
    float: right;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
}

.cbs-forum-box:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: #8cc53f solid 2px;
    cursor: pointer;
}