.topBar-header {
    background-color: #fafafa;
}

.caption{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3ab54b+0,89c53f+100 */
    background: #3ab54b; /* Old browsers */
    background: -moz-linear-gradient(left,  #3ab54b 0%, #89c53f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #3ab54b 0%,#89c53f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #3ab54b 0%,#89c53f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ab54b', endColorstr='#89c53f',GradientType=1 ); /* IE6-9 */
    color: #fff;
    position: relative;
    top: 240px;
    padding: 25px;
    height: 30%;
    float: left;
    border-radius: 0;
    width: auto;
}

.gradient-background{
    background: #3ab54b; /* Old browsers */
    background: -moz-linear-gradient(left,  #3ab54b 0%, #89c53f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #3ab54b 0%,#89c53f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #3ab54b 0%,#89c53f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ab54b', endColorstr='#89c53f',GradientType=1 ); /* IE6-9 */
    margin-top: 15px;
    min-height: 150px;
    padding-top: 35px;
}
.banner-title{
    text-transform: uppercase;
    font-weight:600;
}

.parallax-container{
    height:400px;
}
.carousel-indicators li{
    border: 1px solid #88c540!important;
}
.carousel-indicators{
    text-align: right;
}
.carousel-indicators .active {
    width: 11px;
    height: 11px;
    margin: 1px;
    background-color: #88c540;
}

.block-border-green{
    border: 3px solid #8bc740;
    text-align: center;
    color: #8bc740;
    height: 150px;
    line-height: 150px;
}
.block-border-green span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.no-padding{
    padding: 0;
}

.block-border-green h1{
    text-transform: uppercase;
}
.green-blocks-container {
    margin-top: 15px;
}

.small-block-green{
    max-height: 72px;
    line-height: 70px!important;
    background: #8ec641;
    border: 2px solid green;
    width: 100%;
    color: #fff;
    font-size: 24px;

}

.max-height-100{
    max-height: 72px;
    line-height: 70px;
    padding: 0px 0px 5px 0px;
}
.padding-right-2{
     padding-right: 2px;
 }
.padding-left-2{
    padding-left: 2px;
}


.padding-top-5{
    padding-top: 5px;
}

.max-height-100{
    display: none;
}
.block-border-green:hover{
    padding: 0;
    border: none;
}
.block-border-green:hover .big-span{
    display: none;
}
.block-border-green:hover .max-height-100{
    display: block;
}

.no-padding-sides{
    padding-right: 0;
    padding-left: 0;
}

.margin-top-15{
    margin-top: 15px;
}

.white-button-home {
    background: #fff;
    padding: 18px;
    width: 190px;
    float: right;
    font-size: 24px;
    margin-left: 15px;
    text-transform: uppercase;
    color: #88c53f!important;
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.gradient-h1{
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}

.padding-top-25{
    padding-top: 25px;
}
.special-font-size{
    font-size: 18px;
}
.try{
    padding: 20px;
    font-size: 32px;
}

.dropdown-menu>li>a{
    width:100%;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #89c540;
    border-color: #337ab7;
    color: #fff!important;
    padding: 5px 20px;
}
.navbar-nav>.user-menu>a {
    line-height: 100%;
    display: inline-block;
    padding: 5px 20px;
    font-size: 15px;
}
.nav>li>a:hover #login{
    color:#fff;
}
#lang li>a{
    margin: 0;
    float: none;
    line-height: 100%;
    display: inline-block;
    padding: 5px 20px;
    font-size: 15px;
}
.user-menu a>img{
    border-radius: 50%;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: #89c540;
    color:#fff;
}
.nav .open>a #login, .nav .open>a:focus #login, .nav .open>a:hover #login{
    color:#fff;
}
.user-menu .dropdown-menu{
    text-align: center;
}

.user-image {
    height: 50px;
    border-radius: 50%;
}
.user-footer .pull-right{
    width:100%;
}
.user-footer a {
    color: #8cc53f;
    font-size: 1.2em;
    width: 90%;
    border: 1px solid #aaaaaa;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.user-footer a:hover{
    background: #3ab54b;
    color: #fff;
}

#pre-footer .menu-titulo{
    color: #808080;
}
#pre-footer .menu-titulo .fa{
    color: #808080;
}
#pre-footer .menu-titulo-line{
    border-bottom: #dcdcdc solid 2px;
}

#pre-footer h3 {
    color: #808080;
    margin-top: 4.2rem;
}
#pre-footer p{
    color: #808080;
}

.email-btn{
    border-color: #ccc;
}

#pre-footer a{
    color: #808080;
}

#pre-footer ul ul{
    margin-left: 35px;
}

body:after{
    height: 0px;
}

.footer {
    background-color: black;
    color: white;
    align-items: center;
    padding: 5rem 3rem;
}