
body{
    background-color: #ffffff;
    font-family: "Open Sans", Sans-Serif;
}

a{
    color: #8DC641;
}

a:hover, a:focus
{
    color: #8DC641;
    text-decoration: underline;
}

@font-face {
    font-family: Kelson Sans Bold;
    src: url('/fonts/Kelson Sans Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: Kelson Sans Light;
    src: url('/fonts/Kelson Sans Light.otf');
    font-weight: lighter;
}
@font-face {
    font-family: Kelson Sans Bold;
    src: url('/fonts/Kelson Sans Regular.otf');
    font-weight: normal;
}

/* ----------------------- Top navbar ------------------------*/

.topBar-header{
    position:relative;
    z-index: 3;
}

.topBar{
    padding: 0px 5vw;
    display: inline-block;
    width:100%;
}

.topBarNavigation{
    padding: 20px 5vw;
    position:relative;
    background-color: #ffffff;
}

.home-logo{
    padding-left: 0;
}


.navbar-top-login {
    background: #6D6D6D;
    min-height: 10px;
    border-radius: 0;
    margin-bottom: 0;
    font-family: "Kelson Sans Lighter", Sans-Serif;
    font-weight: 300;
}

.navbar-top-menus {
    background: #FFFFFF;
    min-height: 60px;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 0;
}

.navbar-top-menus a{
    color:#6D6D6D;
}

.navbar-collapse-button{
    border: none;
}

.navbar-toggle.navbar-collapse-button{
    margin-top: 0;
    padding: 5px;
}

.navbar-toggle .icon-bar{
    width: 30px;
    height: 3px;
    border-radius: 5px;
}


.navbar-collapse-button .icon-bar{
    background-color: #6D6D6D;
}

.profile-username-container{
    display: inline-block;
    max-width: 106px;
    margin-left: 10px;
}

.profile-pic-container{
    float: left;
}

.profile-pic-container img{
    width:60px
}

.profile-pic-container span{
    font-size: 4em !important;
}
/* ----------------------- END top navbar ------------------------*/

/* ----------------------- Language top dropdown ------------------------*/


#lang-label{
    float:left;
    padding:20px 12px;
}

.langMenu {
    float: right;
    padding: 5px;
}
.langMenu span{
    color: #FFFFFF;
}

.langBtn {
    display: inline-block;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

.langBtn a {
    color: #FFFFFF;
}
.langBtn a.active {
    color: #7FC13D;
}


/* ----------------------- END Language top dropdown ------------------------*/

/* ----------------------- User login top dropdown ------------------------*/
.login-btn{
    padding:5px;
}
.login-btn a{
    color:#ffffff;
}

.login-btn span{
    color: #FFFFFF;
}


.navbar-login li>a{
    color:#ffffff;
    padding: 5px;
}


.navbar-login  a:hover,
.navbar-login  a:focus,
.navbar-login  a:visited,
.navbar-login  a:active{
    background-color: #82bc41 !important;
}

.navbar-login  #dropdownLoginID a:hover{
    background-color: #82bc41 !important;
    color:#ffffff;
}

.navbar-login  .dropdownLogin{
    min-width: 200px;
    padding:0;
    border:solid 2px #6D6D6D;
}

.navbar-login  .dropdownLogin .dropdownLoginUserInfo{
    padding: 0px;
    margin: 10px;
}

.navbar-login  .dropdownLogin .dropdownLoginUserInfo .dropdownLoginMemberSince{
    margin-top: 20px;
    font-size: 0.9em;
}

.navbar-login  .dropdownLogin .dropDownLoginActionsList{
    padding: 0;
    margin: 0;
}


.navbar-login  .dropDownLoginActionsList .dropDownLoginAction{
    border-top:solid 2px #6D6D6D;
    margin-top: 0;
}

.navbar-login  .dropDownLoginActionsList .dropDownLoginAction a{
    display: block;
    padding: 5px 10px;
    text-align: center;
}


.navbar-login  .dropdownLogin li{
    list-style: none;
}

.navbar-login  .dropdownLogin li>a{
    color:#333333;
    font-size: 1.1em;
}

.navbar-login  .dropdownLoginUsername{
    margin-top: 15px;
    margin-bottom: 20px;
    padding:0;
}

.navbar-login  .dropdownLoginUsername .fa{
    font-size:2em;
}

.navbar-login  .dropdownLoginUsername h3{
    font-size: 1.3em;
    color:#6D6D6D ;
    text-align: center;
    margin-top: 10px;
}

.navbar-login > li > a.loggedUserNavBar > img{
    max-width: 20px;
}


/* ----------------------- END login top dropdown ------------------------*/


/* ----------------------- Home page banner ------------------------*/

.photoBannerTitle{
    font-family: "Open Sans", Sans-Serif;
    margin-top: 50px;
    font-size: 3em;
}

.photoBannerDescription{
    font-family: "Open Sans", Sans-Serif;
    font-weight: 200;
}

.caption {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.40);
}

.banner-button-div {
    margin-top: 40px;
    margin-bottom: 20px;
}


.banner-button-div  a:hover,
.banner-button-div  a:active{
    background-color:#82BC41 !important;
    color: #FFFFFF;
    text-decoration: none;
}

.parallax-window {
    min-height: 400px;
    /*background: transparent;*/
}
/* ----------------------- END Home page banner ------------------------*/


/* ----------------------- Home page know more ------------------------*/
.know-more-container{
    background-color: #82BC41;
    color: #FFFFFF;
    min-height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;


}
.know-more-button-div{
    padding-top: 5px;
    text-transform: none;
    text-align: right;

}

.know-more-button-div a{
    font-size: 1.5em;
    background-color: transparent;
    border: solid 2px #FFFFFF;
    padding: 5px 10px;
    color: #FFFFFF;
}

.know-more-button-div  a:hover,
.know-more-button-div  a:active{
    background-color:#6D6D6D !important;
    color: #FFFFFF;
}

/*------------------------ Home page middle banner --------------------------*/

.home-middle .photoBannerTitle{
    font-size: 2em;
    font-weight: 700;
}

.home-middle .photoBannerDescription{
    font-weight: 400;
}


/* ----------------------- END Home page know more ------------------------*/
/* ----------------------- Home page Questionnaire ------------------------*/

.questionnaire-container{
    background-color: #5a5a5a;
    color: #FFFFFF;
    min-height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.questionnaire-container h3{
    font-weight: 300;
}



.questionnaire-container .title{
    font-weight: bold;
    color: #FFFFFF;
}
/* ----------------------- END Home page Questionnaire ------------------------*/
/* ----------------------- Home page News ------------------------*/

.news-container{
    padding-top: 50px;
    padding-bottom: 50px;
}

.lastNewsHome-title{
    font-family: "Kelson Sans Regular", Sans-Serif;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 10px;
    line-height: 1.1em;
    font-weight: 500;
    color: #000;
}

.news-box:hover{

}


.topics-grid .news-inner-img-div{
    height:232px;
    background-size: cover;
    background-position: center center;
}
.news-inner-img-div{
    background-size: cover;
    background-position: center center;
    height:20vh;
}
.news-box{
    padding-bottom: 20px;
}
.news-box a{
    color: #000000;
}
.news-box h3{
    margin-top: 5px;
}
.news-box h3 a{
    font-family: "Kelson Sans Regular", Sans-Serif;
    font-size: medium;
    line-height: 1.1em;
    font-weight: 500;
}

.news-box .view-more-btn {
    margin-top: 3px;
    margin-bottom: 10px;
}
.news-box .view-more-btn span{
    color: #82BC41;
}

/*margin top for view more btn in list view*/
.news-box .news-list-box{
    margin-top: 50px;
    text-transform: lowercase;
    font-weight: bold;
}

.news-box .view-more-btn a > span{
    color: #82BC41;
}

.cbs-box-horizontal .view-more-btn, .cbs-box .view-more-btn{
    margin-top: 10px;
    color: #000000;
}
.cbs-box-horizontal .view-more-btn:hover, .cbs-box .view-more-btn:hover{
    color: #82BC41;
}

.cbs-box-horizontal .view-more-btn span, .cbs-box .view-more-btn span{
    color: #82BC41;
}




.news-content-box{
    height: 65px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 0.9em;
}
.news-box .news-inner-div{
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.21);
    width: 100%;
    height: 100%;
    margin: 0;
}

.news-box .news-inner-div:hover{
    -webkit-box-shadow: 0px 0px 18px 0px rgba(88,156,67,1);
    -moz-box-shadow: 0px 0px 18px 0px rgba(88,156,67,1);
    box-shadow: 0px 0px 18px 0px rgba(88,156,67,1);
    margin: 0;

}

.news-button-div{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
}

.news-button-div a{
    font-size: 1em;
    background-color: transparent;
    border: solid 2px #000000;
    padding: 5px 15px;
    color: #000000;
}

.news-button-div  a:hover,
.news-button-div  a:active{
    background-color:#6D6D6D !important;
    color: #FFFFFF;
}

.otherNE-button,
.otherNE-button>a{
    font-size:1.8rem;
    color: #333333;
    text-transform: uppercase;
    padding-bottom:1rem;
    padding-top: 0;
    font-weight: 600;
}

/* ----------------------- END Home page News ------------------------*/

/* ----------------------- Footer ------------------------*/

.footerContainer {
    background-color: #5a5a5a;
    color: #ffffff;
    width: 100%;
    position: absolute;
    padding:7px 15px;
    line-height: 3em;
}

.footerTitle {
    font-size: 1.7em;
}

.logoOneSource{
    text-align: end;
}

.logoOneSource img {
    max-width: 90px;
}

.footerContacts{
    padding-bottom: 10px;
}

.footerContacts a, .footerContainer a{
    color: #FFFFFF;
}

.footerContainer li, .footerContainer ul{
    list-style-type: none;
    text-transform: uppercase;
}
/* ----------------------- END Footer ------------------------*/


/* ----------------------- JORGE CSS ------------------------*/

#navBarMenu > ul > li > a:hover{
    background: #82bc41;
    color: #fff;
}
#navBarMenu > ul > li a{
    padding: 10px;
    font-size: 16px;
}
#navBarMenu .dropdown-menu{
    background: #82bc41;
    border: none;
}

#navBarMenu .navbar-right{
    margin-top: 5px;
}
#navBarMenu .dropdown-menu a {
    color:#fff;
    font-size: 16px!important;
    padding: 5px 15px!important;
}

#navBarMenu .dropdown-menu a:hover {
    color:#82bc41;
}
#navBarMenu .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background: #82bc41;
    color:#fff;
}
.login-btn a{
    padding:8px;
}
.navbar-top-login{
    border:none;
}
.profile-pic-container img{
    border-radius: 50%;
}
.navbar-login  .dropdownLogin{
    border: solid 2px #82bc41;
}
.navbar-login  .dropDownLoginActionsList .dropDownLoginAction a{
    color:#000;
}
.navbar-login  .dropDownLoginActionsList .dropDownLoginAction{
    border-top: solid 2px #82bc41;
}
.navbar-login  .dropdownLoginUsername h3{
    color: #82bc41;
}

.loggedUserNavBar{
    padding-left: 15px;
    padding-right: 15px;
}

.photoBannerTitle{
    margin-top: 70px;
    font-weight: 600;
    margin-bottom: 20px;
}
.photoBannerDescription{
    font-size: 22px;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.5em;
    margin-bottom: 60px;
}
.banner-button-div a {
    font-size: 2em;
    font-weight: 600;
    background-color: transparent;
    color: #ffffff;
    border: solid 2px #ffffff;
    padding: 5px 30px;
    text-transform: uppercase;
}

.alertBoxGreenNews {
    background-color: #8dc641;
    color: #ffffff;
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    padding: 3px 10px;
    border:solid 2px #8dc641;
}

.topics-grid .alertBoxGreenNews:hover{
    background-color: #ffffff;
    border:solid 2px #8dc641;
}

.alertBoxGreenNews a{
    line-height: 1.3em;
    vertical-align: middle;
    text-align: center;
    display: block;
}


.alertBoxGreenNews a:hover{
    color:#8dc641;
}


.alertBoxGreenNews a>i.fa{
    line-height: 1.3em;
    vertical-align: middle;
}

.alertBoxGreenNews h2{
    font-size: 1.5em;
    line-height: 1em;
    vertical-align: middle;
    margin: 15px 0;
}

.alertBoxGreenNews h2>.fa{
    font-size: 1.5em;
    line-height: 1em;
}

.alertBoxGreenNews .fa {
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    font-size: 5em;
}

.alertBoxGreenNews a{
    line-height: 30px;
}



.sign-up-container {
    background-color: #8dc641;
    color: #FFFFFF;
    text-transform: uppercase;
    overflow: hidden;
    font-weight: 300;
}

.sign-up-container > div {
    display:block;
    text-align: center;
}

.sign-up-container .signUpTxt{
    margin: 30px auto 10px auto;
    font-size: 2em;
    line-height: 1em;
}

.sign-up-container .sign-up-button-div{
    margin: 10px auto 30px auto;
    display: inline-block;
}

.participate-banner-container{
    background-color: #8dc641;
    color: #FFFFFF;
    text-transform: uppercase;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 10px;
}
.news-button-div a{
    padding: 5px 25px;
    font-size: 18px;
}

.homeSectionTitle {
    text-transform: uppercase;
    font-size: 2.3em;
    font-weight: 600;
}
.news-box a {
    color: #000000;
    font-size: 18px;
}
.news-box .view-more-btn a{
    font-size: 16px;
}

.news-date{
    font-size: 15px;
}
.questionnaire-container{
    background-color: #8dc641;
    color: #FFFFFF;
    min-height: 200px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.questionnaire-link{
    margin-top: 35px;

}
.questionnaire-link a{
    font-size: 2em;
    background-color: transparent;
    color: #ffffff;
    border: solid 2px #ffffff;
    padding: 5px 35px;
    text-transform: uppercase;
}

.questionnaire-container h2{
    font-weight: 600;
    text-transform: uppercase;
}

.small-banner{
    min-height: 250px;
}

.bolder{
    font-weight: 600;
}
.page-title{
    margin-bottom: 35px;
    margin-top: 35px;
}
.btn-back{
    border-radius: 0;
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    padding: 5px 15px;
    margin-top: -3px;
    margin-right: 15px;
}
.u-style{
    color: inherit;
    text-decoration: underline;
}
.terms-conditions-footer{
    padding-bottom: 10px!important;
}
.terms-conditions-wrapper{
    height: 350px!important;;
}
.my-custom-fa-close{
    color: #ccc;
    font-size: 25px;
    cursor: pointer;
}
.no-border{
    border:none;
}
.user-img{
    border: 3px solid #333;
    border-radius: 50%;
    padding: 5px;
}

.border-radius-50{
    border-radius: 50%;
}
.magin-bottom-15{
    margin-bottom: 15px;
}
.margin-top-35{
    margin-top: 35px;
}

.my-form label{
    font-size: 17px;
    font-weight: 100;
}
.oneFormSubmit .btn{
    padding: 2px 15px;
}
@media (max-width: 768px){
    .langMenu{
        float: left;
        padding: 13px 5px;
    }
    .navbar-login{
        margin-right: 10px;
    }
    .dropdownLogin{
        border: 2px solid #82bc41;
    }
    .dropDownLoginActionsList{
        border: 2px solid #82bc41;
    }

}
@media (max-width: 1000px) {
    .margin-top-minus-20 {
        margin-top: 10px !important;
    }
}

.my-topic-title h4, .topic-content{
    color:#000;
}

.my-topic-title h4{
    margin-top: 15px;

}

.forum-state{
    font-size: 16px;
}
.fa-alert-green{
    font-size: 35px;
    color: #8cc63f;
    cursor: pointer;
}
.pads-title{

}
.pads-description{

}

.topic-closed{
    color: #333;
}

.color-white{
    color:#fff;
}

.my-create-button-div{
    margin-top: 35px;
    margin-bottom: 15px;
}

.my-pads-title{
    padding-top: 0!important;
}

.no-padding{
    padding: 0;
}
.my-topic-content{
    color:#000;
}

.my-vote .oneNegativeVote-wrapper{
    float: left;
    margin-top: 0!important;
}
.my-vote .votting-buttons{
    float: right;
}
.my-vote .oneNegativeVoteBtn-div{
    padding-top: 15px;
}
.my-vote .positiveVoteNumberDivStyle{
    padding-top: 15px;
}
.my-vote .negativeVoteNumberDivStyle{
    padding-top: 15px;
}
.margin-top-minus-20{
    margin-top: -20px;
}

.padding-top-20{
    padding-top: 20px;
}

.my-vote .multipleVoteCol{
    text-align: right;
}
.my-vote .multiple-positive-vote a.btn-xs{
    padding: 0;
}

.my-vote .word{
    font-size: 0.9em;
}

.my-vote .multipleVote-wrapper {
    text-align: right;
    padding-right: 15px;
}
.my-vote{
    margin-bottom: 10px;
}

.vote-button-opacity:hover{
    border: solid 2px #585858!important;
    color: #585858!important;
}

.vote-button-opacity:hover{
    border: solid 2px transparent!important;
}
.vote-button-opacity{
    cursor: not-allowed!important;
}
.border-radius-50{
    max-height: 160px;
}
/* ----------------------- END JORGE CSS ------------------------*/

.sign-up-button-div{
    display: inline-block;
    color: #ffffff;
    border: solid 2px #ffffff;
    background-color: #8dc641;
    padding: 5px 30px;
    border-radius: 0;
    margin-bottom:20px;
    margin-top: 10px;
    font-size: 1.2em;
}

.sign-up-button-div:hover{
    color: #8dc641;
    background-color: #ffffff;
}



.participate-banner-container{
    background-color: #8dc641;
    color: #FFFFFF;
    text-transform: uppercase;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 10px;
}
.news-button-div a{
    padding: 5px 25px;
    font-size: 18px;
}

.homeSectionTitle {
    font-family: "Open Sans", Sans-Serif;
    text-transform: uppercase;
    font-size: 2.1em;
    font-weight: 700;
}
.news-box a {
    color: #000000;
    font-size: 1.2em;
}
.news-box .view-more-btn a{
    font-size: 16px;
}

.news-date{
    font-size: 15px;
}
.questionnaire-container{
    background-color: #8dc641;
    color: #FFFFFF;
    min-height: 200px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.questionnaire-link{
    margin-top: 35px;

}
.questionnaire-link a{
    font-size: 1.8em;
    background-color: transparent;
    color: #ffffff;
    border: solid 2px #ffffff;
    padding: 5px 35px;
    text-transform: uppercase;
}


.questionnaire-link a:hover{
    background-color: #ffffff;
    color: #8dc641;
    border: solid 2px #ffffff;
}

.questionnaire-container h2{
    font-weight: 700;
    text-transform: uppercase;
}

.alertBoxGreenNews .fa{
    font-size: 1.5em;
}

.small-banner{
    min-height: 250px;
}

.bolder{
    font-weight: 600;
}
.page-title{
    margin-bottom: 35px;
    margin-top: 35px;
}
.btn-back{
    border-radius: 0;
    background-color: transparent;
    color: #6c6c6c;
    border: 2px solid #6c6c6c;
    padding: 5px 15px;
    margin-top: -3px;
    margin-right: 15px;
    font-size: 1.1em;
}

.btn-back:hover{
    background-color:#6c6c6c;
    color: #ffffff;
    border: 2px solid #6c6c6c;
}

.u-style{
    color: inherit;
    text-decoration: underline;
}
.terms-conditions-footer{
    padding-bottom: 10px!important;
}
.terms-conditions-wrapper{
    height: 70vh!important;;
}
.my-custom-fa-close{
    color: #ccc;
    font-size: 25px;
    cursor: pointer;
}
.no-border{
    border:none;
}
.user-img{
    border: 3px solid #333;
    border-radius: 50%;
    padding: 5px;
}

.border-radius-50{
    border-radius: 50%;
}
.magin-bottom-15{
    margin-bottom: 15px;
}
.margin-top-35{
    margin-top: 35px;
}

.my-form label{
    font-size: 17px;
    font-weight: 100;
}
.oneFormSubmit input.btn.btn-flat.empatia{
    background-color: transparent;
    color: #82bc41;
    border: solid 2px #82bc41;
    padding: 5px 15px;
    font-size: 1.1em;
    border-radius: 0;
}

.oneFormSubmit input.btn.btn-flat.empatia:hover{
    background-color: #82bc41!important;
    color: #ffffff;
    border: solid 2px #82bc41;
}

.oneFormSubmit .btn.btn-flat.btn-default{
    background-color: transparent;
    color: #727272;
    border: solid 2px #727272;
    padding: 5px 15px;
    font-size: 1.1em;
    border-radius: 0;
}

.oneFormSubmit .btn.btn-flat.btn-default:hover{
    background-color: #727272;
    color: #ffffff;
    border: solid 2px #727272;
}

@media (max-width: 768px){
    .langMenu{
        float: left;
        padding: 13px 5px;
    }
    .navbar-login{
        margin-right: 10px;
    }
    .dropdownLogin{
        border: 2px solid #82bc41;
    }
    .dropDownLoginActionsList{
        border: 2px solid #82bc41;
    }
}


.my-topic-title h4, .topic-content{
    color:#000;
}

.my-topic-title h4{
    margin-top: 15px;

}
.forum-state{
    font-size: 18px;
}
.fa-alert-green{
    font-size: 35px;
    color: #8cc63f;
    cursor: pointer;
}
.pads-title{

}
.pads-description{

}
/* ----------------------- END JORGE CSS ------------------------*/


/* ----------------------- Square buttons ------------------------*/

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-outlined.btn-primary {
    background: none;
    border: 3px solid #428bca;
    color: #428bca;
}
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #FFF;
    background: #428bca;
    border-color: #428bca;
}

.btn-outlined.btn-success {
    background: none;
    border: 3px solid #8DC641;
    color: #8DC641;
}
.btn-outlined.btn-success:hover,
.btn-outlined.btn-success:active {
    color: #FFF;
    background: #588837;
}

.btn-outlined.btn-info {
    background: none;
    border: 3px solid #5bc0de;
    color: #5bc0de;
}
.btn-outlined.btn-info:hover,
.btn-outlined.btn-info:active {
    color: #FFF;
    background: #39b3d7;
}

.btn-outlined.btn-warning {
    background: none;
    border: 3px solid #f0ad4e;
    color: #f0ad4e;
}
.btn-outlined.btn-warning:hover,
.btn-outlined.btn-warning:active {
    color: #FFF;
    background: #ed9c28;
}

.btn-outlined.btn-danger {
    background: none;
    border: 3px solid #d9534f;
    color: #d9534f;
}
.btn-outlined.btn-danger:hover,
.btn-outlined.btn-danger:active {
    color: #FFF;
    background: #d2322d;
}

.btn-div-buffer{
    padding-bottom: 10px;
    padding-top: 10px;
}

.lisbon-default-button .btn-success{
    border: 3px solid #8DC641;
    white-space: normal;
    height: 50px;
    overflow: hidden;
}

.btn-outlined.btn-default-grey {
    background: none;
    border: 3px solid #7b7b7b;
    color: #7b7b7b;
}
.btn-outlined.btn-default-grey:hover,
.btn-outlined.btn-default-grey:active {
    color: #FFF;
    background: #686868;
    border-color: #686868;
}
/* ----------------------- End Square Buttons ------------------------*/

/*CB back map button*/

.btn-outlined-default-layout {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-outlined-default-layout.btn-success {
    background: none;
    border: 3px solid #80BA41;
    color: #80BA41;
}
.btn-outlined-default-layout.btn-success:hover,
.btn-outlined-default-layout.btn-success:active {
    background: none;
    color: #4c6e28;
    border-color: #4c6e28;
    text-decoration: underline;
}